<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="schedule.mobile.android.mydiplom.ru.mobileschedule" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartFileChooseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_second_facult_choose"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".Activity_third_group_choose"
            android:label="@string/title_activity_activity_third_group_choose" >
        </activity>
        <activity
            android:name=".Activity_forth_day_choose"
            android:label="@string/title_activity_forth_day_choose" >
        </activity>
        <activity
            android:name=".Activity_fifth_shedule_for_group"
            android:label="@string/title_activity_activity_fifth_shedule_for_group" >
        </activity>
    </application>

</manifest>
